.orderStatus {
    /* Общие стили для обертки статуса */
    text-align: center; /* Центрирование текста */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;

    margin-top: 300px;
}

.statusText {
    /* Стили для текста статуса */
    display: inline-block;
    margin: 20px;
    padding: 8px 20px;
    font-weight: bold; /* Устанавливаем жирное начертание текста */
    color: green; /* Цвет текста для статуса "COMPLETE" */
    border-radius: 20px; /* Скругляем углы */
    background-color: #f0f0f0; /* Фоновый цвет для текста статуса */
}

.btnDownload, .btnRetry {
    /* Общие стили для кнопок */
    padding: 10px 20px;
    border: none; /* Отменяем стандартные границы */
    border-radius: 20px; /* Скругляем углы кнопок */
    color: white; /* Белый текст на кнопке */
    font-size: 16px; /* Размер шрифта кнопки */
    cursor: pointer; /* Курсор в виде указателя */
    outline: none; /* Отменяем контур при фокусе */
}

.btnDownload {
    background-color: purple; /* Пурпурный фон для кнопки "Download" */
}

.statusProgress .statusText, 
.statusQueue .statusText {
    color: gray; /* Цвет текста для статусов "IN PROGRESS" и "IN QUEUE" */
}

.statusError .statusText {
    color: red; /* Красный цвет текста для статуса "ERROR" */
}

.btnRetry {
    background-color: red; /* Красный фон для кнопки "Retry" */
}

/* Стилизация кнопки, когда она неактивна */
.btnDownload:disabled {
    background-color: #cccccc; /* Серый фон для неактивной кнопки */
    cursor: default; /* Обычный курсор для неактивной кнопки */
}

.orderStatusBlock {
    width: 400px;
    background-color: red;
}

.activeDownload {
    cursor: pointer;
}