.userDataBlock {
  width: 200px;
  height: 200px;

  background-color: aqua;
}

.profilePage {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 80vh;


  flex-direction: row;
}

.order {
  display: flex;
  width: 400px;
  height: 50px;
}

.formContainer {

  background-color: #F0FAFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* или другая ширина по вашему выбору */
  height: 350px;

  margin-left: 20px;
}

.profileForm h2 {
  color: #333;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;

  align-items: center;
  justify-content: space-between;
}

.formGroup input {
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 5px;
}

.formActions {
  display: flex;
  justify-content: space-between;
}

.cancelButton,
.saveButton {
  border: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.cancelButton {
  background-color: #999;
}

.saveButton {
  background-color: #6A5ACD;
}

.ordersContainer {
  width: 80%;
  height: 350px;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F0FAFF;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.orderTable {
  width: 100%;
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.headerCell, .rowCell {
  flex: 1;
  text-align: left;
}

.headerCell:last-child, .rowCell:last-child {
  flex: 0 1 200px;
  text-align: right;
}

.icon {
  cursor: pointer;
  margin-left: 10px;
  /* Real icons should be used instead of these placeholders */
}

/* Placeholders for icons, replace with real icons or classes from an icon library */
.icon-clock::before {
  content: '\1F551';
}

.icon-download::before {
  content: '\1F4E5'; 
}

.icon-delete::before {
  content: '\1F5D1'; 
}

.orderActions  {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: flex-end;
  margin-right: 15px;
}

.orderAction {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  font-size: 30px;

  cursor: pointer;
}

.orderRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;

  align-items: center;

  background-color: white;
  border-radius: 15px;
}

.errorBlockMessage {
  color: red;
  width: 250px;
  margin-left: 30px;
  margin-bottom: 10px;
  justify-self: center;
  align-self: center;
}

